body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;

    position: relative;
    background-color: black;
 
}

 #player {
    background-color: palevioletred;
    position: absolute;
    bottom: 10vh; 
    border-radius: 30%;

}
 
.snowball {
    background-color: red;
    position: absolute;
    border-radius: 40%;
}


h1 {
    background-color: red;
    border-radius: 10%;
    color: cornsilk;
    padding: 15vh;
}


#game-over-body{
    background-color: cornsilk;
}
#tryAgain-button {
    position: absolute;
    background-color: green;
    padding: 3vh;
    margin-left: 20vw;
    border-radius: 30%;
}

a {
    color: cornsilk;
}