body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    position: relative;
    /* background-image: url(./newbc1.jpg); */
    background-image: url(./newbc7.png);
    
    

}

#player {
    background-image: url(./pl9.webp);
    
    background-size: 100% 100%;
    position: absolute;
    bottom: 10vh;
}


/* refers to the snowflakes; */
.snowball {

    position: absolute;
    background-image: url(./✿◠‿◠-98840-—-b855d-snowflake-38422-request.gif);
    background-size: 100% 100%;
}

/* refers to the white snowball passing by; */
.fireball {

    background-image: url(./snowball\ 2.png);
    background-size: 100% 100%;
    position: absolute;

}


h1 {
    padding-left: 10vw;
    color: burlywood;
    margin: 5%;
    font-size: xx-large;
    font-weight: bolder;
}


#game-over-body {
    background-image: url(./newbc7.png);
}

#tryAgain-button {
    position: absolute;
    background-color: rgb(132, 6, 48);
    padding: 4vh;
    margin-left: 60vw;
    border-radius: 30%;
    font-weight: bolder;
    border-radius: 20%;
    border: 1px solid rgb(222, 172, 96);
}

a {
    color: cornsilk;
}

#intro-body {
    /* background-color: rgb(222, 172, 96); */
    /* background-image: url( ./newbc9.jpg); */
    background-image: url(./newbc7.png);
}

#start-button {
    position: absolute;
    background-color: rgb(132, 6, 48);
    ;
    padding: 5vh;
    border-radius: 10%;
    margin-left: 30vh;
}

p {
    /* background-color: antiquewhite; */
    color: rgb(132, 6, 48);
    padding: 1vh; 
    font-weight: bolder;
    font-size: xx-large;
   text-shadow: 0cap;
}

h3 {
    border-radius: 25%;
    margin-left: 1vw;
    position: absolute;
    background-color: rgb(132, 6, 48);
    padding: 1vw;
    color: cornsilk;
}

input {
    background-color: rgb(216, 163, 98);
    color: rgb(187, 10, 10);
    margin-left: 0vw;
    padding: 2vw;
    border: 0cm;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

label {
    background-color: rgb(216, 163, 98);
    color: rgb(171, 14, 14);
    margin-left: 10vw;
    padding: 2vw;
    border: 0cm;
    font-size: larger;
    font-weight: bolder;

}

#sec {
    background-color: rgb(216, 163, 98);
    color: rgb(171, 14, 14);
    margin: 0px;
    padding: 2vw;
    /* border: 0cm; */
    font-size: larger;
    font-weight: bolder;
}

#intro-snowflake {

    /* background-image: url(./✿◠‿◠-98840-—-b855d-snowflake-38422-request.gif); */
    position: absolute;
    background-size: 100%;
    margin-left: 70%;

}

/* refers to the shield of the bee; */
.bullet {
    background-color: rgb(178, 178, 8);
    position: absolute;
    border-radius: 30%;

}

li {
    color: rgb(132, 6, 48);
    font-size: larger;
    margin-left: 10vw;
}